
# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# IDE files
.vscode/
.idea/

# Outros arquivos temporários
*.tmp
*.temp