@media (max-width: 1536px) {  
    
    .header {
        border: #bd068f 2px solid;
    }
    /* INICIO */
    .titulo-inicio {
        font-size: 2.375rem;
    }

    .paragrafo-inicio p {
        font-size: 1.75rem;
        line-height: 1.7;
    }

    .quote {
        font-size: 1.375rem;        
    }

    /************* SOBRE ***************/

    .headline-scroll span {
        font-size: 4.0625rem;
    }

    .complemento-sobre img {
        
        width: 95%;
        height: 95%
    }

    .imagem-sobre {
        width: 95%;
        height: 95%
    }

    .imagem-sobre:first-child {
        width: 90%;
        height: 90%; 
    }

    /************* HABILIDADES ************/ 

    .text-headline-skills h2 {
        font-size: 2.5rem;
    }
    .text-headline-skills p {
        font-size: 1.375rem;
    }

    .box-skills {
        height: 440px;
    }

    .box-skills i {
        font-size: 3.75rem;        
    }

    .box-skills h3 {
        font-size: 1.75rem;
    }

    /************ SERVIÇOS ************/

    .descricao-servicos {
        font-size: 1.75rem;
    }

    .titulo-servicos h1,
    .titulo-contato h1 {        
        font-size: 7.875rem;        
    }

    .card-titulo {        
        font-size: 1.875rem;        
    }

    .card-servicos-left {       
        width: 90%;
        min-height: 170px;        
    }

    .container-free-your-mind span {
        font-size: 7.375rem;
    }

    /************* PORTFOLIO ***********/

    .headline-portfolio .titulo {
        font-size: 7.375rem;    
    }

    .headline-portfolio .descricao {
        font-size: 1.75rem;
    }

    /* .case1,
    .case2,
    .case3,
    .case4 {    
    height: 100vh;  

    } */

    .conteudo-textos-case h1 {
        
        font-size: 4.375rem;        
    }

    .conteudo-textos-case p {

        font-size: 1.375rem;

    }
        
    /********* CONTATO **********/

    .titulo-contato h1 {  

        font-size: 8rem;      
    }

    .formulario-contato p {

        font-size: 1.375rem;
        
    }

}